# Python compiled files
*.pyc

# PyCharm project directory
.idea

# Python virtual environment
venv

# Backup files
*~
.*.swp

# Log files
*.log

# SQLite DB
*.sqlite

# Build directories
.gradle
build/

# Directory with miscellaneous local files
notes/

