body {
  font-family: sans-serif
}
.datepicker {
  width: 10em; 
}
.label {
  float: left;
  width: 90px;
  text-align:right;
  margin-right:5px;
  margin-top:7px;
}
.div {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}
